// colors
$accentColor = #f9b200
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc
$badgeTipColor = #f9b200
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961
$navbarColor = #000
$headerColor = #000
$nprogressColor = $accentColor

.navbar
    padding-left: 0px
    padding-top: 0px
   
.navbar .logo
    height: 57px
    min-width: 3rem
    margin-right: 0rem
    vertical-align: top
.nav-item .nav-link:hover
    color: #f9b200 
.custom-block.tip
    border-color: #f9b200 